DATABASE_URL="postgres://postgres:postgres@localhost:5432/gas_tracker_db"
AUTH_SECRET=autogenerate-a-secret-key
CRON_SECRET=your-secret
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=